@model List<Sancion>
@{
    ViewData["Title"] = "CRUD Sancion";
}
<br />
<br />
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <h3 class="">
                            CRUD Sancion
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-2 ml-3" style="text-align: left">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AgregarModal">
                                Agregar
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                        <table id="SancionTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th> SancionID</th>
                                    <th>Descripcion</th>
                                    <th>Costo</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sancion in Model)
                                {
                                    <tr>
                                        <td>@sancion.SancionID</td>
                                        <td>@sancion.Descripcion</td>
                                        <td>@sancion.Costo</td>
                                        <td>
                                            <button type="button" class="btn btn-danger" onclick="eliminarConductor(@sancion.SancionID)">
                                                ELIMINAR
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* <div id="alertMessage" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0" role="alert" style="display: none; z-index: 9999;">
    <strong>¡Hola!</strong> Esta es una alerta de Bootstrap.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> *@
@*************MODAL********************@
<div class="modal fade" id="AgregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Title1">Agregar Opcion Padre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AgregarSancion" asp-controller="Sancion" method="post">
                <div class="modal-body">
                    <div class="mt-1">
                        @Html.Label("Descripcion")
                        @Html.TextBox("Descripcion", null, new { @class = "form-control" })
                    </div>

                    <div class="mt-1">
                        @Html.Label("Costo")
                        @Html.TextBox("Costo", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnsave" type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*************MODAL********************@
<div class="modal fade" id="EditarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Title1">EditarSancion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="UpdateSancion" asp-controller="Sancion" method="post">
                <div class="modal-body">
                    <div class="mt-1">
                        @Html.TextBox("SancionIDEditar", null, new { @readonly = "readonly", @hidden = "true" })
                    </div>
                    <div class="mt-1">
                        @Html.Label("Descripcion Sancion")
                        @Html.TextBox("DescripcionEditar", null, new { @class = "form-control" })
                    </div>

                    <div class="mt-1">
                        @Html.Label("Costo")
                        @Html.TextBox("CostoEditar", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="BtnUpdate" type="submit" class="btn btn-info">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var table = $('#SancionTable').DataTable();

        $('#SancionTable tbody').on('click', 'tr', function () {
            var Data = table.row(this).data();
            console.log(Data);
            EditarSancion(Data);


        });

        $('#SancionTable tbody').on('click', 'tr td:last-child', function (event) {
            event.stopPropagation();
        });

        function EditarSancion(Data) {
            $('#SancionIDEditar').val(Data[0]);
            $('#DescripcionEditar').val(Data[1]);
            $('#CostoEditar').val(Data[2]);
            $('#EditarModal').modal('show');
        }

        function eliminarSancion(sancionId) {

            $.ajax({
                url: '/Sancion/EliminarSancion', // Reemplaza 'NombreDelControlador' con el nombre de tu controlador
                type: 'POST',
                data: { id: sancionId },
                success: function (result) {
                    // Aquí puedes manejar lo que sucede después de que la eliminación sea exitosa.
                    // Por ejemplo, podrías recargar la página para mostrar los cambios.
                    location.reload();
                }
            });
        }


        // $('#btnsave').click(function () {
        //     $('#alertMessage').show();

        //     setTimeout(function () {
        //         $('#alertMessage').hide();
        //     }, 1000);
        // });
    </script>
}